<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<p><b>Published:</b> Published brands will be displayed on the website page. Here, the green colored ones represents published brands.</p>

	<p><b>Unpublished:</b> Unpublished brands are handy when you would like to add them to the system but are not sure weather you are ready to put it on the website. Here. The grey colored ones represents unpublished brands.</p>

	<p><b>Removed:</b> When you remove a brand, it is not removed from the system. Instead the status is changed to removed. This is designed to make it available for auditing in future.</p>

	<p><b>Delete:</b> If you want to delete a brand permanantly from the system, you can first mark the status as removed and delete it. However, the system will block you if you have used this brand in link with anything else in the system.</p>
</div>