<title><%= title -%></title>
<%= meta_tags %>
<%= csrf_meta_tags %>

<meta name="description" content="Admin | Golden Pioneer General Trading">

<link rel="shortcut icon" href="/assets/icons/favicon.png" />

<%= stylesheet_link_tag  @stylesheet_filename %>

<!-- fonts collection 3 
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic,700italic' rel='stylesheet' type='text/css'> -->

<!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="css/ie8-and-down.css" />
<![endif]-->

<!--[if IE 9]>
  <link href="css/ie9.css" rel="stylesheet" type="text/css" />
 <![endif]-->