<div class="row">
	<div class="col-md-4">
		<%= theme_button('Add a Product', 'plus', new_admin_product_path(), classes: "pull-left ml-5 mb-5", btn_type: "success") %>
	</div>
	<div class="col-md-8">
		<%= theme_search_form(Product, admin_products_path, :get, false, @filters[:query], "Search ...", "Search!") %>
	</div>
</div>



